version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
      HERE_API_KEY: "${HERE_API_KEY}"
      OPENAI_API_KEY: "${OPENAI_API_KEY}"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge